<p>
 learn data two way binding databinding-aj works!
</p>


<h2>Data Binding</h2>



<h3>Interpolation</h3>
<p>{{company}}</p>

<p>{{c}}</p>

<h3>Property Binding</h3>
<a [href]="url" target="_blank">Site</a>

<input type="text" [value]="company"/>

<h3 (mouseover)="abcm()">Event Binding</h3>
<button type="button" (click)="abc('clicked')">Greet</button>

<h3>Two Way Data Binding</h3>
<input type="text" [(ngModel)]="company"/>


<div class="abc">this is custom div</div>
<ul>
	<a href="asasa" class="navbar-brand">sssssssssssss</a>
</ul>